.base_btn {
    display: inline-block;
    width: 32 / 750 *100vw;
    height: 32 / 750 *100vw;
    line-height: 32 / 750 *100vw;
    text-align: center;
}

.omit2{
    padding:  3 / 750 *100vw;
    display: -webkit-box;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}